:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
mat-drawer {
  width: 300px;
}

mat-drawer-container {
  height: 100%;
  padding: 0;
}

mat-drawer-content {
  padding-right: 0px;
}

@media only screen and (max-width: 400px) {
  mat-drawer {
    width: 80%;
  }
}