
<table id="ranking">
  <tr>
      <th colspan="4">Classements</th>
  </tr>

  <tr>
    <td><button mat-mini-fab color="accent" aria-label="game 1" (click)="get_game_leaderboard('game_1')">1</button></td>
    <td><button mat-mini-fab color="accent" aria-label="game 2" (click)="get_game_leaderboard('game_2')">2</button></td>
    <td><button mat-mini-fab color="accent" aria-label="game 3" (click)="get_game_leaderboard('game_3')">3</button></td>
    <td><button mat-mini-fab color="accent" aria-label="game 4" (click)="get_game_leaderboard('game_4')">4</button></td>
  </tr>
</table>
<table id="scores"></table>
<table mat-table [dataSource]="leaderboard" class="mat-elevation-z8" *ngIf="leaderboard">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Pseudo Column -->
  <ng-container matColumnDef="pseudo">
    <th mat-header-cell *matHeaderCellDef> Pseudo </th>
    <td mat-cell *matCellDef="let element"> {{element.pseudo}} </td>
  </ng-container>

  <!-- Score Column -->
  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef> Score </th>
    <td mat-cell *matCellDef="let element"> {{element.score}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
