<table id="ranking">
    <tr>
        <th colspan="4">Classements</th>
    </tr>

    <tr>
        <td><img src="assets/img/logo.png" class="horizontal_center" id="game_logo_1" alt="image jeu 1" onclick="get_leaderboard('game_1')"></td>
        <td><img src="assets/img/logo.png" class="horizontal_center" id="game_logo_2" alt="image jeu 2" onclick="get_leaderboard('game_2')"></td>
        <td><img src="assets/img/logo.png" class="horizontal_center" id="game_logo_3" alt="image jeu 3" onclick="get_leaderboard('game_3')"></td>
        <td><img src="assets/img/logo.png" class="horizontal_center" id="game_logo_4" alt="image jeu 4" onclick="get_leaderboard('game_4')"></td>
    </tr>

    <table id="scores"></table>
</table>