table {
	width: 100%;
}

table th {
	color: #e95420;
}

#ranking tr td img {
	max-width: 25px;
	max-height: 25px;
}

#ranking tr td img:hover {
	border: 1px solid #fff !important;
	border-radius: 10px;
}

#scores {
	border: 1px solid #fff;
	border-collapse: collapse;
}

#scores th {
	border: 1px solid #fff;
}

#scores td {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	color: #fff
}

#scores td::first-child {
	border-left: none;
}

#scores td::last-child {
	border-right: none;
}