table {
	width: 100%;
}

table th {
	color: #e95420;
}

#ranking tr td img {
	max-width: 25px;
	max-height: 25px;
}

#ranking tr td img:hover {
	border: 1px solid #fff !important;
	border-radius: 10px;
}

#scores {
	border: 1px solid #fff;
	border-collapse: collapse;
}