button {
    margin: auto;
  }

img {
  width: 500px;
  height: 300px;
  display: block;
  margin: auto;
}

h2 {
  text-align: center;
}

@media screen and (max-width: 600px) {
  img {
    width: 100%;
    height: auto;
  }
}

#formulaireRooms{
  text-align: center;
}

td{
  margin: 5px;
}
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #FFED86;
  font-size: 16px;
}
