button {
    margin: auto;
  }

img {
  width: 500px;
  height: 300px;
  display: block;
  margin: auto;
}

h2 {
  text-align: center;
}

@media screen and (max-width: 600px) {
  img {
    width: 100%;
    height: auto;
  }
}