mat-drawer-container {
  height: 100%;
}

mat-drawer {
  padding: 1em;
  width: 20%;
}

table {
  width: 80%;
  margin: auto;
  padding: 5em;
}

td {
  text-align: center;
}

mat-card {
  width: 50%;
  margin: auto;
}
