<header><app-header-nav></app-header-nav></header>

<section id="main">
  <article id="game_logos">
    <div id="game_1">
      <img src="assets/img/logo.png" class="horizontal_center" alt="image jeu 1" id="game_1_image" (click)="onClick(console.log('game_1'))">
    </div>

    <div id="game_2">
      <img src="assets/img/logo.png" class="horizontal_center" alt="image jeu 2" id="game_2_image"  onclick="get_description('game_2')">
    </div>
    
    <div id="game_3">
      <img src="assets/img/logo.png" class="horizontal_center" alt="image jeu 3" id="game_3_image"  onclick="get_description('game_3')">
    </div>
    
    <div id="game_4">
      <img src="assets/img/logo.png" class="horizontal_center" alt="image jeu 4" id="game_4_image"  onclick="get_description('game_4')">
    </div>
  </article>

  <article id="active_game_description"></article>
</section>

<app-side id="side"></app-side>