<div>
  <div>

    <h2>{{ room }} open chat room</h2>

    <hr>

  </div>

  <div class="message_box">
    <div>
      <div style="height:300px; padding:15px;" class="message_log">
        <div *ngFor="let item of messageArray">
          <span><strong>{{item.user}} : </strong> {{item.message}}</span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div fxLayout="row">

      <form fxFlex="80">
        <mat-form-field  class="message_input">
          <mat-label>message</mat-label>

            <textarea matInput autosize maxlength="200" max-rows="20" [(ngModel)]="messageText" name="messageText"></textarea>

        </mat-form-field>
      </form>
      <div>
        <button mat-stroked-button color="primary" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>
