<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
      <app-widget-game-icon label="game 1" (changeActiveGame)="changeActiveGame('game_1')"
      img_source="https://www.jing.fm/clipimg/detail/113-1137361_video-games-have-always-fascinated-humanity-blue-gaming.png"></app-widget-game-icon>
  </mat-card>
  <mat-card fxFlex="25">
      <app-widget-game-icon label="game 2" (changeActiveGame)="changeActiveGame('game_2')"
      img_source="https://i.pinimg.com/736x/bd/be/66/bdbe6652ac1fa6d248bfb601c5d92f31.jpg"></app-widget-game-icon>
  </mat-card>
  <mat-card fxFlex="25">
      <app-widget-game-icon label="game 3" (changeActiveGame)="changeActiveGame('game_3')"
      img_source="https://png.pngtree.com/png-clipart/20190520/original/pngtree-vector-control-pad-icon-png-image_4091204.jpg"></app-widget-game-icon>
  </mat-card>
  <mat-card fxFlex="25">
      <app-widget-game-icon label="game 4" (changeActiveGame)="changeActiveGame('game_4')"
      img_source="https://img.freepik.com/free-vector/console-with-games-lettering-neon-sign-brick-background_1262-11854.jpg?size=338&ext=jpg"></app-widget-game-icon>
  </mat-card>
</div>

<br>

<mat-divider *ngIf="activeGame"></mat-divider>

<br>

<mat-card *ngIf="activeGame">
  <app-widget-game-expanded [activeGame]="activeGame"></app-widget-game-expanded>
</mat-card>

<br>

<mat-divider *ngIf="activeGame"></mat-divider>

<br>

<mat-card *ngIf="activeGame">
  <app-widget-game-chat-room [activeGame]="activeGame"></app-widget-game-chat-room>
</mat-card>
