<p>Salons : {{game}}</p>

<form name='formulaire' id= 'formulaire'>
  <tr id=  '{{game}}1' ><td> Joueurs connectés: '{{connectedUsers}}/2' </td><td> <input type="button"  mat-raised-button color="primary" (click)="joinGame('{{activeGame}}}1')"> Rejoindre</td></tr>

  <tr id=  '{{game}}1' ><td> Joueurs connectés: '{{connectedUsers}}/2' </td><td> <input type="button"  mat-raised-button color="primary" (click)="joinGame('{{activeGame}}2')"> Rejoindre</td></tr>

  <tr id=  '{{game}}1' ><td> Joueurs connectés: '{{connectedUsers}}/2' </td><td> <input type="button"  mat-raised-button color="primary" (click)="joinGame('{{activeGame}}3')"> Rejoindre</td></tr>

  <tr id=  '{{game}}1' ><td> Joueurs connectés: '{{connectedUsers}}/2' </td><td> <input type="button"  mat-raised-button color="primary" (click)="joinGame('{{activeGame}}4')"> Rejoindre</td></tr>

  <tr id=  '{{game}}1' ><td> Joueurs connectés: '{{connectedUsers}}/2' </td><td> <input type="button"  mat-raised-button color="primary" (click)="joinGame('{{activeGame}}5')"> Rejoindre</td></tr>
</form>
