<mat-nav-list fxLayout="column">
  <div class="profile-card">
    <div class="header">
      <h2>Current User</h2>
      <h4>c.user@students.ephec.be</h4>
    </div>
    <img src="https://www.kindpng.com/picc/m/171-1712282_profile-icon-png-profile-icon-vector-png-transparent.png" alt="current user">
  </div>

  <mat-divider></mat-divider>

  <app-widget-leaderboard [selectedGame]="selectedGame" *ngIf="selectedGame"></app-widget-leaderboard>

  <mat-divider *ngIf="userIsAdmin"></mat-divider>

  <mat-card *ngIf="userIsAdmin">
    <app-widget-admin-logs></app-widget-admin-logs>
  </mat-card>


</mat-nav-list>
