<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-game-icon label="game 1" (changeActiveGame)="changeActiveGame('game_1')"
        img_source="http://localhost:3000/images/game_icon/game_1"></app-widget-game-icon>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-game-icon label="game 2" (changeActiveGame)="changeActiveGame('game_2')"
        img_source="http://localhost:3000/images/game_icon/game_2"></app-widget-game-icon>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-game-icon label="game 3" (changeActiveGame)="changeActiveGame('game_3')"
        img_source="http://localhost:3000/images/game_icon/game_3"></app-widget-game-icon>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-game-icon label="game 4" (changeActiveGame)="changeActiveGame('game_4')"
        img_source="http://localhost:3000/images/game_icon/game_4"></app-widget-game-icon>
    </mat-card>
  </div>
  
  <br>
  
  <mat-divider *ngIf="activeGame"></mat-divider>
  
  <br>
  
  <mat-card *ngIf="activeGame">
    <app-widget-game-expanded [activeGame]="activeGame"></app-widget-game-expanded>
  </mat-card>
  
  <br>
  
  <mat-divider *ngIf="activeGame"></mat-divider>
  
  <br>
  
  <mat-card *ngIf="activeGame">
    <app-widget-game-chat-room [activeGame]="activeGame"></app-widget-game-chat-room>
  </mat-card>
  