<div>
  <div>

    <h2>Ingame Chat</h2>

    <hr>

  </div>
  <div>
    <div>
      <div>
        <form>
          <mat-form-field class="example-full-width">

            <mat-label>enter chat username here</mat-label>
            <input matInput [(ngModel)]="chat_username" name="username">
          </mat-form-field>
        </form>
      </div>
    </div>
    <!-- <div class="col-sm-5">
        <label for="roomInput">Choose room</label>
        <select name="roomInput" id="roomInput" class="form-control">
            <option value="Lobby">Lobby</option>
            <option value="Hall">Hall</option>
            <option value="Deluxe">Deluxe</option>
        </select>
    </div> -->
    <div class="col sm-2">
        <div style="margin-top:19px;" class="pull-right">
            <button mat-stroked-button color="primary" (click)="join()">Join</button>
            <button mat-stroked-button color="primary" (click)="leave()">Leave</button>
        </div>
    </div>
  </div>

  <div>
    <div style="height:200px; padding:15px;" class="message_log">
      <div *ngFor="let item of messageArray">
        <span><strong>{{item.user}} : </strong> {{item.message}}</span>
      </div>
    </div>
  </div>
  <div>
    <div>

      <form>
        <mat-form-field  class="message_input">
          <mat-label>message</mat-label>

            <textarea matInput autosize maxlength="200" max-rows="20" [(ngModel)]="messageText" name="messageText"></textarea>

        </mat-form-field>
      </form>

    </div>
    <div>

      <button mat-stroked-button color="primary" (click)="sendMessage()">Send</button>

    </div>
  </div>
</div>
