mat-toolbar {
  font-family: "Verdana", sans-serif;
}

#logo {
	float: left;
	width: 150px;
	height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#page_name {
	float: left;
	width: 65%;
	height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login {
	float: left;
	width: 20%;
	height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
