#logo {
	float: left;
	width: 15%;
	height: 100%;
}

#page_logo {
	max-height: 63px;
	max-width: 63px;
}

#name {
	float: left;
	width: 65%;
	height: 100%;
}

#login {
	float: left;
	width: 20%;
	height: 100%;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
	#main, #side, #logo, #name, #login, #game_1, #game_2, #game_3, #game_4 {
	  width: 100%;
	  height: auto;
	}
	#game_logos {
		height: 280px;
	}
	#logo, #name, #login {
		background-color: #77216f;
	}
}