<div id="wrapper">
  <div id="menu">
    <strong> Salon textuel </strong>

  </div>

  <div id="chatbox">
      <div id= 'msgBox'>
          <div  *ngFor="let item of listeMsg;" [ngClass]=" {'joinChat':item.message=== ' a rejoint le chat', 'leaveChat': item.message=== ' a quitté le chat'} ">
           <Strong>{{item.username}} : </Strong> {{item.message}} <br>
          </div>
      </div>
  </div>

    <form action = '#' id ='formChat' name= 'formChat'>
        <input name="userMsg" type="text" id="userMsg"  size="75" [(ngModel)]="contentMsg" placeholder="Envoyer un message" >
        <button name="submit"  mat-raised-button color="primary" (click)='envoieMsg();'  id="envoie" >Envoyer</button>
    </form>
</div>
