body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }

form, p, span {
    margin:0;
    padding:0; }

input { font:12px arial;
align-items: center;
}

#wrapper {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    border:1px solid #ACD8F0; }



#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:15px;
    padding:10px;
    background:#fff;
    height:270px;
    width:95%;
    border:1px solid #ACD8F0;
    overflow:auto; }

#menu {
  padding:12.5px 25px 12.5px 25px;
  text-align: center;
 }

.alerte{
  color:  #497381

}
