<mat-card>
  <mat-card-content>
    <div class="medium-list">
      <div class="">
        <form [formGroup]="loginForm" id='aled' (ngSubmit)="onLoginSubmit()" action="https://devgames3.herokuapp.com/" method="post" noval>
          <div class="form-container">
            <div class="username-input">
              <mat-form-field class="full-width" appearance="outline">
                <input id="usernamelogin"
                      matInput
                      formControlName="username"
                      [(ngModel)]="user.username"
                      placeholder="Enter your username">
              </mat-form-field>
            </div>

            <mat-form-field class="full-width" appearance="outline">
              <input id="password"
                      matInput
                      formControlName="password"
                      [(ngModel)]="user.password"
                      placeholder="Enter your password">
            </mat-form-field>
            <br>
            <button mat-button type="submit" class="mat-raised-button mat-primary">Login</button>
          </div>

          <br>

          Tu n'as pas encore de compte ? <a routerLinkActive="active" routerLink="/register">suis ce lien pour en créer un</a>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card> 

 


    
